{% extends 'layout.html' %}

{% block title %} Devchat {% endblock %}

{% block maincontent %}
    <div class="chat-box">
        <div class="chats-panel">
            {% for user_info in chat_info %}
                <a href="layout.html">
                    <div class="one-chat">
                        {% if user_info['type'] == 'individual' %}
                            <img id='prof-pic' src="{{ user_info['profile_pic'] }}">
                            <div class="name-recent-chat">
                                <h2 id="name">{{ user_info['first_name'] }} {{ user_info['last_name'] }}</h2>
                                <h3 id='chat'>{{ user_info['recent_chat'] }}</h3>
                            </div>
                        {% elif user_info['type'] == 'company' %}
                            <img id='prof-pic' src="{{ user_info['company_pic'] }}">
                            <div class="name-recent-chat">
                                <h2 id="name">{{ user_info['company_name'] }}</h2>
                                <h3 id='chat'>{{ user_info['recent_chat'] }}</h3>
                            </div>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="chat-area">
            <div class="user-chats">
                <div class="contact-text">
                    <h1>yes</h1>
                    <h1>yes</h1>
                </div>
                <div class="user-text">
                    <h1>no</h1>
                    <h1>no</h1>
                </div>
            </div>
            <div class="textbox">
                <div id="attachments">
                    <i class="bi bi-paperclip paperclip"></i>
                </div>
                <div class="textbar-sendbtn">
                    <input id='text-bar' type="text">
                    <div id="send-circle">
                        <i class="bi bi-send-fill send"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}